<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Pizzeria</title>

    <!-- Bootstrap -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/application.css}">

</head>

<body>
    <div class="container">
        <div class="title d-flex justify-content-center">
            <h1>Dettaglio Pizza:</h1>
        </div>

        <form method="POST" th:object="${pizza}">
            <div class="mb-3">

                <label for="name" class="form-label">Nome</label>
                <input type="text" class="form-control" id="name" placeholder="Margherita, bianca, napoletana..."
                    th:field="*{name}">
                <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}" ></li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Ingredienti</label>
                <textarea type="text" class="form-control" id="description" rows="3"
                    placeholder="Pomodoro, mozzarella..." th:field="*{description}"></textarea>
                <div th:if="${#fields.hasErrors('description')}" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label for="img" class="form-label">Link foto</label>
                <input type="text" class="form-control" id="img" placeholder="https://link/immagine.it/..."
                    th:field="*{img}">
                <div th:if="${#fields.hasErrors('img')}" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('img')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Prezzo</label>
                <input type="text" class="form-control" id="price" placeholder="5.00" th:field="*{price}">
                <div th:if="${#fields.hasErrors('price')}" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>

            <div class="button-container">
                <button class="btn btn-danger">Aggiungi</button>
            </div>
        </form>
    </div>

</body>

</html>