<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<!-- Button  -->
	<a th:fragment="button-detail(link, text)" th:href="${link}" th:text="${text}" class="btn btn-danger">
	</a>

	<!-- multiple Cards -->
	<div th:fragment="card(list)" th:each="element : ${list}" th:object="${element}" class="card col m-3"
		style="width: 18rem;">
		<img th:src="@{*{img}}" class="card-img-top multi-img" th:alt="*{name}">
		<div class="card-body">
			<h5 class="card-title">[[*{name}]]</h5>
			<p class="card-text">[[*{description}]]</p>
			<a th:replace="~{fragments :: button-detail(@{'/detail/' + ${element.id}}, 'Dettaglio')}"></a>
		</div>
	</div>

	<!-- Single Card -->
	<div th:fragment="singleCard(element)" th:object="${element}" class="card col-6 mt-5">
		<img th:src="@{*{img}}" class="card-img-top img-fluid" th:alt="*{name}">
		<div class="card-body">
			<h4 class="card-title">[[*{name}]]</h5>
				<p class="card-text">[[*{description}]]</p>
				<h6 class="text-danger">Prezzo €[[*{price}]]</h6>
				<a th:replace="~{fragments :: button-detail(@{'/'}, 'Torna alla lista')}"></a>
		</div>
	</div>

	<!-- Header -->
	<header class="position-fixed container justify-content-between d-flex align-items-center" th:fragment="header">

				<h1>Pizzeria</h1>
				<div>
					<a th:insert="~{fragments :: button-detail(@{'/create'}, 'Aggiungi')}"></a>
				</div>

	</header>

</body>

</html>